USE [master]
GO
/****** Object:  Database [OMC_SeniorConnectDB]    Script Date: 21/7/2026 10:19:11 PM ******/
CREATE DATABASE [OMC_SeniorConnectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OMC_SeniorConnectDB', FILENAME = N'C:\Users\SOPHEA\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\OMC_SeniorConnectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OMC_SeniorConnectDB_log', FILENAME = N'C:\Users\SOPHEA\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\OMC_SeniorConnectDB.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OMC_SeniorConnectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OMC_SeniorConnectDB]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[AppointmentDate] [date] NOT NULL,
	[AppointmentTime] [time](7) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[CaregiverID] [int] NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Price] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caregiver]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caregiver](
	[CaregiverID] [int] IDENTITY(1,1) NOT NULL,
	[CaregiverName] [nvarchar](100) NULL,
	[PhoneNumber3] [nvarchar](20) NULL,
	[Relationship] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CaregiverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caregivers]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caregivers](
	[CaregiverID] [int] IDENTITY(1,1) NOT NULL,
	[CaregiverName] [nvarchar](100) NULL,
	[PhoneNumber3] [nvarchar](20) NULL,
	[Relationship] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CaregiverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[PhoneNumber2] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyContacts]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContacts](
	[EmergencyContactID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[ContactName] [nvarchar](100) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](20) NOT NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmergencyContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBIrth] [date] NOT NULL,
	[PhoneNumber] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Gender] [nvarchar](100) NULL,
	[EmergencyContact] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ReminderDate] [date] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NULL,
	[PatientID] [int] NULL,
	[CaregiverID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Senior]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Senior](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBIrth] [date] NOT NULL,
	[PhoneNumber] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Gender] [nvarchar](100) NULL,
	[EmergencyContact] [nvarchar](20) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seniors]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seniors](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Age] [int] NOT NULL,
	[PhoneNumber] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Gender] [nvarchar](100) NULL,
	[CaregiverID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](100) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table]    Script Date: 21/7/2026 10:19:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBIrth] [date] NOT NULL,
	[PhoneNumber2] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [AppointmentDate], [AppointmentTime], [Status], [CaregiverID], [ServiceName], [Price]) VALUES (3, 1, CAST(N'2026-07-22' AS Date), CAST(N'11:00:00' AS Time), N'Pending', 1002, N'Blood Pressure Check', 20.0000)
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [AppointmentDate], [AppointmentTime], [Status], [CaregiverID], [ServiceName], [Price]) VALUES (1003, 2, CAST(N'2026-07-23' AS Date), CAST(N'10:30:00' AS Time), N'Pending', 1002, N'Diabetes Consultation', 80.0000)
INSERT [dbo].[Appointments] ([AppointmentID], [PatientID], [AppointmentDate], [AppointmentTime], [Status], [CaregiverID], [ServiceName], [Price]) VALUES (1004, 2, CAST(N'2026-07-30' AS Date), CAST(N'10:00:00' AS Time), N'Pending', 1002, N'General Check-up', 50.0000)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Caregivers] ON 

INSERT [dbo].[Caregivers] ([CaregiverID], [CaregiverName], [PhoneNumber3], [Relationship], [Username], [Password]) VALUES (1, NULL, NULL, NULL, N'usertest', N'12345')
INSERT [dbo].[Caregivers] ([CaregiverID], [CaregiverName], [PhoneNumber3], [Relationship], [Username], [Password]) VALUES (2, N'sara', N'012-657908', N'Friend', N'usertest', N'12345')
INSERT [dbo].[Caregivers] ([CaregiverID], [CaregiverName], [PhoneNumber3], [Relationship], [Username], [Password]) VALUES (1002, N'Adam', N'012-54678', N'Grandchild', N'adam21', N'456789')
SET IDENTITY_INSERT [dbo].[Caregivers] OFF
GO
SET IDENTITY_INSERT [dbo].[EmergencyContacts] ON 

INSERT [dbo].[EmergencyContacts] ([EmergencyContactID], [PatientID], [ContactName], [Relationship], [PhoneNumber], [Address]) VALUES (1, 1, N'aminah', N'fr', N'01972772', N'Shah ALam')
INSERT [dbo].[EmergencyContacts] ([EmergencyContactID], [PatientID], [ContactName], [Relationship], [PhoneNumber], [Address]) VALUES (2, 1, N'aminah', N'sjFRiend', N'01972772', N'Shah ALam')
INSERT [dbo].[EmergencyContacts] ([EmergencyContactID], [PatientID], [ContactName], [Relationship], [PhoneNumber], [Address]) VALUES (3, 1, N'Khairul', N'Friend', N'0124567', N'KL')
SET IDENTITY_INSERT [dbo].[EmergencyContacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Reminders] ON 

INSERT [dbo].[Reminders] ([ReminderID], [Title], [ReminderDate], [Description], [Status], [PatientID], [CaregiverID]) VALUES (1, N'Appointment', CAST(N'2026-07-17' AS Date), N'General Checkup', N'Pending', NULL, NULL)
INSERT [dbo].[Reminders] ([ReminderID], [Title], [ReminderDate], [Description], [Status], [PatientID], [CaregiverID]) VALUES (2, N'Appointment', CAST(N'2026-07-24' AS Date), N'Blood Checkup', N'Pending', NULL, NULL)
INSERT [dbo].[Reminders] ([ReminderID], [Title], [ReminderDate], [Description], [Status], [PatientID], [CaregiverID]) VALUES (3, N'weekly checkup', CAST(N'2026-07-16' AS Date), N'blood check up', N'Pending', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reminders] OFF
GO
SET IDENTITY_INSERT [dbo].[Seniors] ON 

INSERT [dbo].[Seniors] ([PatientID], [FullName], [Age], [PhoneNumber], [Address], [Gender], [CaregiverID]) VALUES (1, N'Abdullah', 55, N'0124365', N'Selangor', N'Male', NULL)
INSERT [dbo].[Seniors] ([PatientID], [FullName], [Age], [PhoneNumber], [Address], [Gender], [CaregiverID]) VALUES (2, N'jamal', 69, N'012-3567', N'Pangsapuri 15,Shah Alam', N'Male', NULL)
INSERT [dbo].[Seniors] ([PatientID], [FullName], [Age], [PhoneNumber], [Address], [Gender], [CaregiverID]) VALUES (3, N'Halimah', 79, N'0123456', N'Terengganu', N'Male', NULL)
SET IDENTITY_INSERT [dbo].[Seniors] OFF
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Caregiver] FOREIGN KEY([CaregiverID])
REFERENCES [dbo].[Caregivers] ([CaregiverID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Caregiver]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Seniors] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Seniors] ([PatientID])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Seniors]
GO
ALTER TABLE [dbo].[EmergencyContacts]  WITH CHECK ADD  CONSTRAINT [FK_EmergencyContacts_Seniors] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Seniors] ([PatientID])
GO
ALTER TABLE [dbo].[EmergencyContacts] CHECK CONSTRAINT [FK_EmergencyContacts_Seniors]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Caregivers] FOREIGN KEY([CaregiverID])
REFERENCES [dbo].[Caregivers] ([CaregiverID])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Caregivers]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD  CONSTRAINT [FK_Reminders_Seniors] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Seniors] ([PatientID])
GO
ALTER TABLE [dbo].[Reminders] CHECK CONSTRAINT [FK_Reminders_Seniors]
GO
ALTER TABLE [dbo].[Seniors]  WITH CHECK ADD  CONSTRAINT [FK_Seniors_Caregivers] FOREIGN KEY([CaregiverID])
REFERENCES [dbo].[Caregivers] ([CaregiverID])
GO
ALTER TABLE [dbo].[Seniors] CHECK CONSTRAINT [FK_Seniors_Caregivers]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Doctors] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Doctors]
GO
USE [master]
GO
